*{
  font-family: "DynaPuff", system-ui;;
  box-sizing: border-box;
  list-style: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: Arial, sans-serif;
  background: #eff1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.contenedor{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  background: rgb(230, 233, 236);
}

.contenedor, .mochilaF, .contenedor-cajero{
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.mochilaF{
  background: rgb(228, 182, 138);
}

.margen label{
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

.margen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  border: 4px dashed #464e54;
  width: 98%;
  border-radius: 10px;
  padding-bottom: 20px;
  background: white;
}

#pesoMaximo{
  width: 300px;
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  background: #d6d5d5;
  border: 3px dashed #624a3c;
}

#pesoMaximo::placeholder{
  text-align: center;
  font-size: 12px;
  color: white;
}

.item {
  margin-bottom: 10px;
}

.value{
  margin-right: 20px;
}

.value, .weight{
  text-align: center;
  width: 90px;
  height: 30px;
  border: 3px dashed #624a3c;
  border-radius: 10px;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.value::placeholder{
  text-align: center;
}

.weight::placeholder{
  text-align: center;
}
    
#contenedorI div {
  margin-bottom: 5px;
}

#totalM{
  color: rgb(26, 21, 15);
  text-align: center;
}
    
.mochila {
  margin-top: 30px;
  border: 5px dashed #444;
  min-height: 160px;
  padding: 10px;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.objeto {
  min-width: 140px;
  padding: 10px;
  background-color: #cad2de;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.8s ease-in-out;
}
    
.pasosR {
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.barra {
  margin-top: 20px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.barraLlena, .barraVacia {
  height: 100%;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-align: center;
  transition: width 0.8s ease;
}

.barraLlena {
  background-color: #77787a;
}

.barraVacia {
  color: #464e54;
  background-color: #cccccc;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.botonA {
  margin-top: 10px;
  padding: 12px;
  border: none;
  background-color: #5d5d5d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.botonR{
  margin-top: 10px;
  padding: 12px;
  border: none;
  background-color: #5d5d5d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.contenedor-cajero{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.contenedor-cajero label{
  text-align: center;
}

#cantidadCambio{
  background: #101315;
  color: white;
  text-align: center;
  width: 300px;
  height: 70px;
}


.resaltado {
  background-color: #90abe2;
  border-color: #90abe2 !important;
  transition: background-color 0.7s ease, border-color 0.7s ease;
}


.billete {
  background-color: #35a84a;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 8px 15px;
  margin: 5px;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  opacity: 0;
  animation: caer 0.5s forwards;
  user-select: none;
}

@keyframes caer {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.footer{
    text-align: center;
    width: 100%;
    font-family: "Glory", serif; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #212329;
    min-height: 100px;
    box-shadow: 0px -9px 10px rgba(0, 0, 0, 0.5);
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px 0;
    padding: 0;
}

.links li{
    margin: 10px;
    list-style: none;
    width: 300px; 
    text-align: center;
}

.links li a{
    text-decoration: none;
    color: #7d839c;
    font-weight: 500;
    font-size: 16px;
}

.pie p{
    color: #b1b6ca;
}

.pie img{
    filter: grayscale(120%);
    transition: all 0.5s;
    opacity: 50%;
}

.pie img:hover{
    transform: scale(1.5);
    opacity: 100%;
    filter: grayscale(0%) drop-shadow(0px 5px 20px rgb(24, 91, 235));
}


header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all .25s ease;
  background: #212329;
  color: white;
}
